<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/assets/css/bootstrap.css" />
    <include path="~/assets/css/font-awesome.css" />
    <include path="~/assets/css/weather-icons.css" />
    <include path="~/assets/css/beyond.css" />
    <include path="~/assets/css/demo.css" />
    <include path="~/assets/css/typicons.css" />
    <include path="~/assets/css/animate.css" />
  </styleBundle>
</bundles>